.PhoneInput {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  transition: all 0.2s;

  &::placeholder {
    color: rgba(0, 0, 0, 0.25);
    user-select: none;
  }

  &:focus {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
    background-color: #ffffff;
  }

  &_error {
    border-color: #ffa39e;
  }
}