:root {
    --font-family: 'Inter';
    --font-size-base: '16px';

    --accent-color: #FF181F;
    --light-accent-color: #FFD1D2;
    --black-color: #000;
    --dark-color: #4B5157;
    --second-text-color: #626264;
    --secondary-color: #B1B5C3;
    --light-gray-color: #F5F5F5;
    --light-gray-color2: #F1F4F3; 
    --light-gray-color3: #E6E8EC;
    --light-gray-color4: #FCFCFD;
    --middle-gray-color: #BCBFC2;
    --gray-color: #777E90;
    --white-color: #FFF;

    --base-radius: 20px;
}